# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# Docker
data/*
*.log

# Jupyter
*.ipynb_checkpoints/

# Misc
.DS_Store
*.swp

data/tcga_brca_subset/*.tsv
data/tcga_brca_subset/excluded/*.tsv